<!DOCTYPE html>
<html>
  <head>
    <script>
    function onPageLoad(){
      var status = document.getElementById('status');
      var statusText = status.textContent;
      status.textContent = status.textContent + 'Loaded';
    }
    </script>
    <!--
    <script src="{{webcontext}}static/js/closer.js"></script>
    -->
  </head>
  <body onload="onPageLoad()">
    <h1>HTML EDITOR</h1>
    {{ dta }}
    <div>Status: <span id="status"></span></div>
    <div>
      <button onclick="window.close()">Finish</button>
    </div>
  </body>
</html>