
/* resize marker size */
$resize-marker-width: 25px;
/* how thick is the marker */
$resize-marker-border: 4px;
$resize-marker-border-radius: 5px;
/* a transparent area around marker that also act as resizer */
$resize-area: 50px;
/* resize marker color when dialog is hover */
$resize-marker-color: rgb(218, 23, 23);
/* active resize marker color, i.e. when one can resize */
$resize-marker-color-active: rgb(23, 95, 230);

dialog {
  & > .dialog-resize-br {
    z-index: -1;
    width: $resize-area;
    height: $resize-area;
    position: absolute;
    $br-position: -$resize-area + $resize-marker-width - $resize-marker-border;
    bottom: $br-position;
    right: $br-position;
    cursor: nwse-resize;
    opacity: 0;
    
    & > .dialog-resize-br-marker {
      width: $resize-marker-width;
      height: $resize-marker-width;
      background-color: $resize-marker-color;
      border-radius: 0 $resize-marker-border-radius 0 $resize-marker-border-radius;
      &:hover {
        background-color: $resize-marker-color-active;
      }
    }

    &:hover {
      opacity: 1;
      & > .dialog-resize-br-marker {
        background-color: $resize-marker-color-active;
      }
    }
  }
  &:hover > .dialog-resize-br {
    opacity: 1;
  }
}