@import './theme-al.scss';
@import './theme.scss';
$theme-font:    verdana, sans-serif;

body {
  font: $theme-font;
  background-color: $themeColor-Light;
  h1, h2 {
      color: $themeColor-Dark
  }
}
/*
.SIModalTitleBG {
  background-color: $dialogTitleBackgroundColor-Default;
  color: $dialogTitleTextColor-Default;
  .SIModalTitlePrev {
    background: inherit;
  }
  .SIModalTitleActive {
    background-color: #0ff;
  }
}
*/