@import 'dialog-polyfill';
@import 'spinner';
@import 'theme-al';
dialog[role=topdialog] {
    width:95%;
    height:90%;
    border:1em;
    padding: 0;
}
@mixin backdropper {
    background: rgba(0, 0, 0, 0.5);
}
// native
dialog::backdrop{
    @include backdropper;
}
dialog {
    // polyfill
    max-width: 95%;
    max-height: 95%;   
    &+.backdrop {
        @include backdropper;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        //background:rgba(0,0,0,0.5);
    }
    nav {
        border: 1px solid #ccc;
        background-color: $dialogTitleBackgroundColor-Default;
        color: $dialogTitleTextColor-Default;
        border-bottom-width: 2px;
        height: 2em;
        min-height: 30px;
        //& > .dialogtab:only-child {
        //    background-color: red;
        //}
        & > .dialogtabs {
            height: 100%;
            padding-right: 30px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            & > .dialogtab:not(:only-child) {
                background-color: dimgray;
                border-radius: 6px 6px 0 0;
                margin: 0 0.2em;
                height: 100%;
                flex: 0 2 auto;
                padding: 0 1em;
                align-items: center;
                &.active {
                    background-color: blue;
                }
                &:not(.active){
                    cursor: pointer;
                    display:flex;
                }
            }
            & > .dialogtab.active {
                display: flex;
                flex: 0 1 auto;
                overflow: hidden;
                & > .crumb {
                    // border-left: 1px solid #ccc;
                    // color: lightgrey;
                    // background-color: dimgray;
                    // flex-grow: 1;
                    flex: 0 5 auto;
                    padding-left: 0.2em;
                    //display:flex;
                    //we want show only one tab - active
                    //display: none;
                    align-items: center;
                    text-overflow: ellipsis;
                    // Required for text-overflow to do anything
                    white-space: nowrap;
                    overflow: hidden;
                    min-width: 5em;
                    &.active {
                        // background-color: inherit;
                        // color: inherit;
                        min-width: 8em;
                        flex: 0 1 auto;
                        //because .tab display is none we put it here
                        //display: flex;
                        //&:has( > .lds-ellipsis){
                        //    display:flex;
                        //}
                    }   
                }
                & > .crumb:not(:first-child):before {
                    content: '\00a0\003e\00a0';
                }
                & > .crumb:not(:last-child):hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
        & > .xbutton{
            display: block;
            width: 24px;
            height: 24px;
            // background-color:red;
            position: absolute;
            //top:-24px;
            //right:5px;
            top: 3px;
            right: 3px;
            border-radius: 6px;
            //box-shadow:2px 2px 4px 0 white;
        }
        // .xbutton:hover { background-color: $xButtonHoverBackground-Default; }
        & > .xbutton:before {
            @extend %xbutton;
            -webkit-transform:rotate(45deg);
            -moz-transform:rotate(45deg);
            transform:rotate(45deg);
            left:2px;
        }
        & > .xbutton:after {
            @extend %xbutton;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            transform: rotate(-45deg);
            right: 2px;
        }
    }
    & > .tabbed {
        height: 100%;
        padding: 0;
        border: 0;
        display: flex;
        flex-flow: column;
        & > .tabwindow {
            flex: 1 1 auto;
            display: flex;
            flex-flow: column;
            & > iframe {
                flex-flow: column;
                flex: 1 1 auto;
                width: 100%;
                display: flex;
                border: 0;
                &.minimized {
                    @extend %minimized;
                    position: absolute;
                    top:0;
                    left:0;
                }
            }
        }
    }
    &.minimized {
        @extend %minimized;
        display: block;
        nav {
            display: none;
        }
        &+.backdrop{
            display: none;
        }
    }
}

%xbutton {
    content: '';
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    top: 10px;
}
%minimized {
    width: 0;
    height: 0;
}