/*
 * Defines styles for topdialog.js
 *
 */

/* Inherited from dialog-polifyll.js */
@import 'dialog-polyfill';
/* Spinner is 3 rotating dots indicating page loading */
@import 'spinner';
/* Default colors */
@import 'theme-al';
/* Styles for resizing a dialog */
@import 'resizer';
@mixin backdropper {
    background: rgba(0, 0, 0, 0.5);
}
$dialogNavHeight: 2em;
$dialogButtonsWidth: 5em;
dialog[role=topdialog] {
    width:95%;
    height:90%;
    padding: 0;
    border: 0;
    background: rgba(0, 0, 0, 0);
}
// native
dialog::backdrop{
    @include backdropper;
}
dialog {
    // polyfill
    max-width: 95%;
    max-height: 95%;   
    &+.backdrop {
        @include backdropper;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    nav {
        border: 1px solid #eee;
        border-radius:4px;
        background-color: $dialogTitleBackgroundColor-Default;
        color: $dialogTitleTextColor-Default;
        height: $dialogNavHeight;
        min-height: 30px;
        //display: flex;
        //justify-content: space-between;
        & > .dialogtabs {
            height: 100%;
            margin-right: $dialogButtonsWidth;
            margin-left: 1.2em;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            //flex: 0 0 3em;
            & > .dialogtab:not(:only-child) {
                border-radius: 6px 6px 0 0;
                margin: 0 0.2em;
                height: 100%;
                //flex: 0 2 2em;
                //padding: 0 1em;
                align-items: center;
                &:not(.active){
                    flex: 0 3 2em;
                    overflow: hidden;
                    border: 1px solid #fff;
                    opacity: 0.8;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    min-width: 1em;
                }
            }
            & > .dialogtab.active {
                display: flex;
                //flex: 0 1 auto;
                overflow: hidden;
                & > .crumb {
                    flex: 0 5 auto;
                    padding-left: 0.2em;
                    //align-items: center;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    min-width: 0em;
                    &.active {
                        min-width: 2.5em;
                        flex: 7 1 auto;
                    }   
                }
                & > .crumb:not(:first-child):before {
                    content: '\00a0\003e\00a0';
                }
                & > .crumb:not(:last-child):hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
        & > .dialogbuttons {
            //background-color: #f00;
            width: $dialogButtonsWidth;
            position: absolute;
            right:5px;
            top: 0px;
            height: $dialogNavHeight;
            display: flex;
            align-items: center;
            //flex: 0 0 60px;
            flex-direction: row-reverse;
            & > .svgButton {
                display: flex;
                width: 24px;
                height: 24px;
                justify-content: center;
                align-items: center;
                @extend %controlbutton;
                & > svg {
                    width: 18px;
                    height: 18px;
                    fill: #fff;
                }
                & > svg:hover {
                    fill: royalblue;
                }
            }
            & > .xbutton{
                order: 1;
                display: block;
                width: 24px;
                height: 24px;
                //position: absolute;
                //right: 5px;
                @extend %controlbutton;
            }
            & > .xbutton:before {
                @extend %xbutton;
                -webkit-transform:rotate(45deg);
                -moz-transform:rotate(45deg);
                transform:rotate(45deg);
                left:2px;
                top: 10px;
            }
            & > .xbutton:after {
                @extend %xbutton;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                transform: rotate(-45deg);
                left: 2px;
                top: 7px;
            }
            & > .maximizeButton {
                order: 2;
            }
            & > .popoutButton {
                order: 3;
            }
        }
    }
    & > .tabbed {
        padding: 0;
        border: 0;
        border-radius:4px;
        width:100%;
        height:100%;
        display: flex;
        flex-flow: column;
        background-color: #fff;
        & > .tabwindow {
            flex: 1 1 auto;
            display: flex;
            flex-flow: column;
            height: 100%;
            & > .ifrWrapper {
                flex-flow: column;
                flex: 1 1 auto;
                width: 100%;
                height: 100%;
                display: flex;
                &.minimized {
                    @extend %minimized;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                & > .focusLocker {
                    width: 0;
                    height: 0;
                    padding: 0;
                    border: 0;
                    margin: 0;
                }
                & > iframe {
                    height: 100%;
                    border: 0;
                    width: 100%;
                }
            }
        }
    }
    &.minimized {
        top: -3000px;
        left: -3000px;
        display: block;
        nav {
            display: none;
        }
        &+.backdrop{
            display: none;
        }
    }
}

%controlbutton {
    top: 5px;
    cursor: pointer;
    transition: background-color .1s;
    border-radius: 6px;
}

%xbutton {
    content: '';
    position: relative;
    display: block;
    width: 20px;
    height: 3px;
    background-color: #fff;
}
%minimized {
    width: 0;
    height: 0;
}